*{
 /* border: black 1px solid;*/
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'RocknRoll One', sans-serif;
  position: relative;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4, 66, 123);
  color:white;

}
.title a{
  color:white;
  text-decoration: none;
}

.title {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 2rem;
}
.navlinks ul{
  margin: 0;
  padding:0;
  display: flex;
}
.navlinks li{
  list-style: none;
}
.navlinks li a{
  text-decoration: none;
  display:block;
  color:white;
  padding: 1rem;
  font-size: 1.5rem;
}
.navlinks li:hover{
  background-color:rgb(149, 153, 204);
}
.toggle{
  position:absolute;
  display:none;
  flex-direction: column;
  justify-content: space-between;  
  top:1.5rem;
  right:1rem;
  width:30px;
  height: 30px;
  
}
.toggle .bar{
  width:100%;
  height:5px;
  background-color:white;
  border-radius: 10px;
}

@media (max-width:600px){
  .title{
    margin:1rem;
  }
  .toggle{
    display:flex;
  }
  .navlinks{
    display:none;
    width:100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;

  }
  .navlinks ul{
    flex-direction: column;
    width:100%;
  }
  .navlinks li a{
    text-align: center;
    font-size:1rem;
  }
  .active{
    display:flex;
  }
  
}
.backimage{
  width:100vw;
  height:100vh;
  /*background-image: url("../images/background.jpg");*/
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:0;
  z-index: -1;
}
.homecontent{
  margin: auto;
  max-width: 500px;
  height:70vh;
  border: white solid 1px;
  border-radius: 20px;
  /*background-color: rgb(255, 255, 255);*/
  position: absolute;
  top:20vh;
  left:5vw;
  z-index: -1;
  right:5vw;
 
  overflow: auto;
}
.homecontent .add{
  padding-left: 10px;
  padding-right: 10px;
  
}

@keyframes show{
  0%{
    height:0px;
    opacity: 0;
  }
  50%{
    height: 50%;
    opacity: 0.8;
  }
  100%{
   height: 100%;
   opacity: 1;
  }
}

@keyframes hide{
  0%{
    height:100%;
    opacity: 1;
  }
  50%{
    height: 50%;
    opacity: 0.2;
  }
  100%{
   height: 0px;
   opacity: 0;
  }
}

.form {
  color:white;
  text-align :center;
  height: 0px;
  opacity: 0;
  /*border: black 1px solid;*/
}



.displayform{
  display:block;
 
}

#Add,#Rating, #type{
  background-color:  rgb(4, 66, 123);
  font-family: inherit;
  border: none;
  color:  white;
  width:4rem;
  height:2rem;
  text-align: center;
  outline :none;
}

#showingform{
  font-size: 3rem;
  border:none;
  
  color:white;
  width:100%;
  text-align :center;
  background: none;
  outline: none;
 
}

#hideform{
  border:none;
  font-size: 3rem ;
  padding: 0;
  background: none;
  color:white;
  font-weight: 900;
  display:none;
}

#showingform, 
#hideform, 
#Add,
#Rating,
#type{
  cursor:pointer;
}


.sortedtvshows .tvshowslist,
.sortedmovies .movieslist,
.sorted .list{
  color: white;
  list-style: none;
  padding: 0;
  word-wrap: break-word;
}

.sortedtvshows .tvshowslist li,
.sortedmovies .movieslist li,
.sorted .list li{
  position:relative;
  margin:10px;
}

.sortedtvshows .tvshowslist li span,
.sortedmovies .movieslist li span,
.sorted .list li span{
  color:  green;
  margin-right: 10px;
}

.sortedmovies,
.sortedtvshows{
  
  display:none;
}


.sortedtvshows .tvshowslist li i,
.sortedmovies .movieslist li i,
.sorted .list li i{
  right:0;
  position:absolute;
}

#trash{
  color: red ;
  cursor: pointer;
}

#name{
  font-size: 1rem;
}

